
.app {
  background-color: #f4f4f4;
  color: #222;
  min-height: 100vh;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}


.app-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.toggle-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color:#272b55;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-btn:hover {
  background-color:#4e65b8;
}


